<section class="admin-dashboard-show">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>  
        <th></th>
        <th>Count</th>
        <th>Details</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>
          <h4>Products</h4>
        </td>
        <td>
          <% @products.order(:name).each { |product| %>
              <%= product.name%>, 
          <% }%>
        </td>
        <td>
          <%= @products.count%>
        </td>
        <td>
          <%= link_to 'Product Details', [:admin, :products] %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Categories</h4>
        </td>  
        <td>
          <% @categories.order(:name).each { |category| %>
            <%= category.name%>, 
          <% }%>
        </td>
        <td>
          <%= @categories.count%>
        </td>
        <td>
          <%= link_to 'Category Details', [:admin, :categories] %>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Sales</h4>
        </td>
        <td>
          <% @sales.order(:starts_on).each { |sale| %>
              <%= sale.name%>, 
          <% }%>
        </td>
        <td>
          <%= @sales.count%>
        </td>
        <td>
          <%= link_to 'Sale Details', [:admin, :sales] %>
        </td>
      </tr>
    </tbody>
    
  </table>
  
</section>

                                                                                           